In [59]:
#Loading required libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd 
import numpy as np

from selenium import webdriver
from selenium.webdriver.support.ui import Select
import time

from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

In [66]:
from datetime import datetime, timedelta

start_date = datetime(2017, 10, 12)
end_date = datetime(2020, 11, 16)

date_format = "%d-%b-%Y"

date_list = []
current_date = start_date

while current_date <= end_date:
    if current_date.weekday() not in [5, 6]:  # Exclude Saturday (5) and Sunday (6)
        formatted_date = current_date.strftime(date_format)
        date_list.append(formatted_date)
    current_date += timedelta(days=1)

In [61]:
url = "https://www.fpi.nsdl.co.in/web/Reports/traderepositoryreport.aspx"

In [62]:
#setting up selenium chrome driver
from selenium.webdriver.chrome.service import Service
s = Service("C:\\chromedriver.exe")
driver = webdriver.Chrome(service = s)
driver.get(url)

In [67]:
#for i in date_list:
for i in date_list:
    e = driver.find_element(By.ID, "hdndrpview")
    driver.execute_script("arguments[0].setAttribute('value','1')", e)
    e = driver.find_element(By.ID, "hdnFromDate")
    driver.execute_script(f"arguments[0].setAttribute('value', '{i}')", e)
    driver.find_element(By.ID, "btnSubmit").click()
    
    time.sleep(3)
    
    html=driver.page_source
    soup=BeautifulSoup(html,'html.parser')
    div=soup.select_one("div#dvTradeData")
    table=pd.read_html(str(div))
    
    if table[0].empty == False:
        table1 = table[0]
        table1['Date'] = i
        nov17 = nov17.append(table1.droplevel(0,axis = 1))

    else:
        continue

In [68]:
nov17

,Exchange,ISIN,Security Description,Coupon Rate,Maturity Date,Last Traded Price (in Rs.),Price (Average weighted price),Yield (Weighted Avg. Yield ) %,Turnover (in Lacs),Credit Rating,Number Of Trade,Date,
0,NSE,INE647O08032,ADITYA BIRLA FASHION AND RETAIL LIMITED SR-1 N...,0.00,12-Apr-2019,108.0662,108.0662,7.8200,20.0,-,-,NaN,02-Jan-2017
1,NSE,INE093J07544,ANAND RATHI GLOBAL FINANCE LIMITED JUN/08 BR N...,0.00,11-Jan-2017,150.5100,150.5100,0.0000,5.0,-,-,NaN,02-Jan-2017
2,NSE,INE093J07577,ANAND RATHI GLOBAL FINANCE LIMITED JUN/09 BR N...,0.00,11-Jan-2017,154.5000,154.5193,0.0000,14.0,-,-,NaN,02-Jan-2017
3,NSE,INE093J07585,ANAND RATHI GLOBAL FINANCE LIMITED JUN/10 BR N...,0.00,12-Jan-2017,179.4000,179.3754,0.0000,13.0,-,-,NaN,02-Jan-2017
4,NSE,INE093J07759,ANAND RATHI GLOBAL FINANCE LIMITED NOV/03 BR N...,0.00,29-May-2017,160.0200,160.0200,0.0000,45.0,-,-,NaN,02-Jan-2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,NSE,INE540P07350,U.P. POWER CORPORATION LIMITED SR-II-I 10.15 B...,10.15,20-Jan-2028,100.2585,100.3080,10.6909,110.0,-,4,NaN,13-Nov-2020
139,NSE,INE540P07137,U.P. POWER CORPORATION LIMITED SR-IV-C 8.48 BD...,8.48,15-Mar-2023,100.4200,100.4200,8.5000,3400.0,-,1,NaN,13-Nov-2020
140,NSE,INE540P07145,U.P. POWER CORPORATION LIMITED SR-IV-D 8.48 BD...,8.48,15-Mar-2024,101.7500,100.5754,8.5155,1570.0,-,5,NaN,13-Nov-2020
141,NSE,INE112A08051,UNION BANK OF INDIA SR II 8.93 LOA 08NV29 FVRS...,8.93,08-Nov-2029,114.1480,113.9690,6.7950,3000.0,-,2,NaN,13-Nov-2020
142,BSE,INE205A07154,VEDANTA LIMITED,9.18,02-Jul-2021,98.7280,98.8582,10.7500,50.0,NaN,1,NaN,13-Nov-2020

In [9]:
driver.quit()

In [30]:
e = driver.find_element(By.ID, "hdndrpview")
driver.execute_script("arguments[0].setAttribute('value','1')", e)
e = driver.find_element(By.ID, "hdnFromDate")
driver.execute_script(f"arguments[0].setAttribute('value','01-Jun-2017')", e)
driver.find_element(By.ID, "btnSubmit").click()

html=driver.page_source
soup=BeautifulSoup(html,'html.parser')
div=soup.select_one("div#dvTradeData")
table=pd.read_html(str(div))

In [34]:
nov17 = table[0].droplevel(0,axis = 1)

In [53]:
nov17.drop(index=nov17.index, inplace = True)

In [45]:
nov17['Date'] = "17-Nov_2017"

In [54]:
nov17

Empty DataFrame
Columns: [Exchange, ISIN, Security Description, Coupon Rate, Maturity Date, Last Traded Price (in Rs.), Price (Average weighted price), Yield (Weighted Avg. Yield ) %, Turnover (in Lacs), Credit Rating, Number Of Trade, Date, ]
Index: []

In [69]:
nov17.to_csv('nov17.csv')